{% load static %}
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="{% static 'css/otp.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">
      <!-- <script src="{% static 'js/otp.js' %}"></script> -->
       
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body id="body">



            <div id="wrapper">
                    <div id="dialog">
                      <!--<button class="close">×</button>-->
                      <div>
                      <h2 id="head">Validate otp(One time password)</h2>
                      <a href="" id="back">&lt-Go Back</a>
                        <br>
                      </div>
                      <div>
                      <h3>An otp has been sent to your number</h3>
                      <h3>Please enter the 4-digit verification code we sent via SMS:</h3>
                      <div id="form">
                        <input type="text" id="digit1" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                        <input type="text" id="digit2" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /><input type="text" id="digit3" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /><input type="text" id="digit4"maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                      </div>
                      <br>
                        <div>
                        <button class="btn btn-primary btn-embossed" onclick="ott()">Verify</button>
                        <a href="#" id="resend">Resend OTP</a>
                      </div>
                      </div>
                    </div>
                  </div>
                   <script type="text/javascript">
          function ott() {
            var otp = parseInt(document.getElementById('digit1').value)*1000 + parseInt(document.getElementById('digit2').value)*100 + parseInt(document.getElementById('digit3').value)*10 + parseInt(document.getElementById('digit4').value)
          var id = {{ id }}
            function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
  console.log(otp);
            $.ajax({
        type: "POST",
        url: '/api/checkotp/',
        data: {'id':id,'type':'fir','otp':otp},
        async:false,
        success: function (response) {
             window.location = '/'
                 
             // window.location = response;  
            },
    });
            
          }
    </script>

    </body>
    </html>